.form__wrapper {
  padding: 64px 0;

  .beer-list__title {
    text-align: center;
  }

  .form {
    background-color: $c-w;
    padding: $spacer-base 8px;
    padding-bottom: 48px;
    margin-top: $spacer-base * 2;
    box-shadow: 0px 0px 20px lightgrey;
    border-radius: 4px;
    position: relative;

    &__section {
      padding: $spacer-base $spacer-base;

      .form__section-title {
        font-size: $font-size-md;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        margin-bottom: $spacer-sm * 2;
      }

      .form-group {
        position: relative;

        .input-field-placeholder {
          transition: all .2s ease;
          cursor: text;
          position: absolute;
          top: 4px;
          transform: translateY(50%);
          left: $spacer-base;
          font-size: $font-size-md;
        }

        input[type="text"] {
          height: 52px;
          width: 280px;
          padding-top: $spacer-sm * 2;
          border-radius: 4px;
          background-color: $input-bg-color;
          box-shadow: $input-shadow;

          &:focus,
          &:valid {
            ~.input-field-placeholder {
              top: -3px;
              left: 13px;
              font-size: $font-size-sm;
	            color: $input-focus-color;
            }
          }

          @media screen and (max-width: 767px) {
            width: 100%;
          }
        }

        textarea {
          margin-top: $spacer-sm * 2;
          padding-top: $spacer-sm * 2;
          border-radius: 4px;
          background-color: $input-bg-color;
          box-shadow: $input-shadow;

          &:focus,
          &:valid {
            ~.input-field-placeholder {
              top: -3px;
              left: 13px;
              font-size: $font-size-sm;
              color: lightgray;
            }
          }
        }
      }

      .custom-radio,
      .custom-checkbox {
        padding-left: $spacer-base * 2;
        margin-bottom: $spacer-sm;

        label {
          font-size: $font-size-md;

          &::before {
            content: '';
            position: absolute;
            top: .25rem;
            left: 0;
            display: block;
            width: 1rem;
            height: 1rem;
            pointer-events: none;
          }

          &::after {
            content: '';
            position: absolute;
            top: 4px;
            left: 0;
            display: block;
            width: 1rem;
            height: 1rem;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100% 100%;
          }
        }
      }

      .custom-radio {
        label {
          &::after {
            background-image: $custom-radio-image-unchecked;
          }
        }

        input {
          &:checked {
            ~label {
              &::after {
                background-image: $custom-radio-image-checked;
              }
            }
          }
        }
      }

      .custom-checkbox {
        label {

          &::after {
            background-image: $custom-checkbox-image-unchecked;
          }

        }

        input {
          &:checked {
            ~label {
              &::after {
                background-image: $custom-checkbox-image-checked;
              }
            }
          }
        }
      }
    }

    .form__submit-section {
      position: absolute;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      text-align: center;

      .error {
        margin-right: $spacer-base;
      }

      @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        bottom: -40px;

        .error {
          margin-right: 0;
          margin-bottom: $spacer-sm;
        }
      }
    }
    @media screen and (max-width: 767px) {
      padding-bottom: 96px;
    }
  }
}
