.navbar {
  background-color: transparent;
  padding: 16px 0;

  .navbar-brand {
    display: flex;
    align-items: baseline;

    img {
      margin-right: 8px;
    }
  }

  .navbar-collapse {
    justify-content: flex-end;

    .navbar-nav {
      display: flex;
      align-items: baseline;

      .nav__item {
        padding: 0 24px;

        .nav__item-link {
          font-weight: 600;
          font-size: 14px;
          color: $c-w;
          letter-spacing: 2px;
          position: relative;
          padding: 8px 0;

          &:after {
            content: '';
            opacity: 0;
            transition: opacity .2s ease;
          }

          &:hover,
          &:focus,
          &.active {
            text-decoration: none;

            &:after {
              content: '';
              opacity: 1;
              height: 2px;
              width: 100%;
              position: absolute;
              bottom: 0;
              left: 0;
              background-color: $c-y;
            }
          }
        }
      }
    }
  }





  @media screen and (max-width: 991px ) {
    align-items: baseline;

    .navbar-collapse {
      display: flex;
      flex-basis: initial;

      .navbar-nav {
        flex-direction: row;
      }
    }
  }

  @media screen and (max-width: 767px ) {
    display: flex;
    flex-direction: column;

    .brand-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .navbar-collapse {
      display: none;

      &.show {
        display: block;
        width: 100%;

        .navbar-nav {
          display: flex;
          flex-direction: column;
          align-items: center;

          .nav__item {
            padding: 24px;
          }
        }
      }
    }

    .menu-icon-wrapper {
      display: inline-block;
      cursor: pointer;

      .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: $c-y;
        margin: 6px 0;
        transition: 0.4s;
      }

      &.change .bar1 {
        transform: rotate(-45deg) translate(-9px, 6px);
      }

      &.change .bar2 {
        opacity: 0;
      }

      &.change .bar3 {
        transform: rotate(45deg) translate(-8px, -8px);
      }
    }
  }
}
